<h1>{{title}}</h1>
<p>
  <b>Instrucciones:</b><br/>
  Deberá seguir las instrucciones para terminar el exámen. El exámen tiene
  un puntaje de 100 puntos.
</p>
<ol>
<li><b>5pts</b>realizar un restore de la base de datos de la carpeta dump
<pre>
  cd examen
  mongorestore
</pre>

</li>
<li><b>10pts</b> Crear un repositorio y subir la carpeta del exámen (importante desde un inicio)
</li>
<li>
  <b>40pts cada archivo</b> Realizar los solicitado en los archivos
  <pre>
    /routes/api/employee.js
    /routes/api/employeeModel.js
  </pre>
</li>
<li>
  <b>5pts</b> Subir a moodle la url del repositorio con el resultado final del exámen.
</li>
</ol>
